@font-face {
  font-family: "Days One";
  src: url("DaysOne-Regular.eot");
  src: local("Days One"), local("DaysOne-Regular"),
    url("DaysOne-Regular.eot?#iefix") format("embedded-opentype"),
    url("DaysOne-Regular.woff2") format("woff2"),
    url("DaysOne-Regular.woff") format("woff"),
    url("DaysOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik Bubbles";
  src: url("RubikBubbles-Regular.eot");
  src: local("Rubik Bubbles Regular"), local("RubikBubbles-Regular"),
    url("RubikBubbles-Regular.eot?#iefix") format("embedded-opentype"),
    url("RubikBubbles-Regular.woff2") format("woff2"),
    url("RubikBubbles-Regular.woff") format("woff"),
    url("RubikBubbles-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Play";
  src: url("Play-Regular.eot");
  src: local("Play Regular"), local("Play-Regular"),
    url("Play-Regular.eot?#iefix") format("embedded-opentype"),
    url("Play-Regular.woff2") format("woff2"),
    url("Play-Regular.woff") format("woff"),
    url("Play-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url("Play-Bold.eot");
  src: local("Play Bold"), local("Play-Bold"),
    url("Play-Bold.eot?#iefix") format("embedded-opentype"),
    url("Play-Bold.woff2") format("woff2"), url("Play-Bold.woff") format("woff"),
    url("Play-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Glitch";
  src: url("RubikGlitch-Regular.eot");
  src: local("Rubik Glitch Regular"), local("RubikGlitch-Regular"),
    url("RubikGlitch-Regular.eot?#iefix") format("embedded-opentype"),
    url("RubikGlitch-Regular.woff2") format("woff2"),
    url("RubikGlitch-Regular.woff") format("woff"),
    url("RubikGlitch-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
