@font-face {
    font-family: 'Rubik Glitch';
    src: url('RubikGlitch-Regular.eot');
    src: local('Rubik Glitch Regular'), local('RubikGlitch-Regular'),
        url('RubikGlitch-Regular.eot?#iefix') format('embedded-opentype'),
        url('RubikGlitch-Regular.woff2') format('woff2'),
        url('RubikGlitch-Regular.woff') format('woff'),
        url('RubikGlitch-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

