.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.navbar {
  position: fixed;
  height: fit-content;
  min-height: 60px;

  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1px;
  align-items: center;
  border-radius: 18px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 0.4px solid #333333;
  background: rgba(111, 111, 111, 0.2);
  z-index: 100;
  transition: all 0.3s ease;
  padding: 0px 15px 0px 15px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 16px;
  align-items: center;
  padding: 0px 10px 0px 10px;
  font-weight: 400;
}

.link-header {
  color: #f7f7f8;
  transition: 0.3s;
  font-family: "Play";
  font-weight: 500;

  &:hover {
    
    color: #5303ff;
    transition: 0.3s;
  }
}
.active {
  padding: 5px 0px 5px 0px;
  color: #5303ff;
  border-radius: 9999px;
  /* background-color: #5303ff */
  transition: 0.3s;
  &:hover {
    color: #ffff;
    transition: 0.3s;
  }
}
.logo_header {
  font-family: "Rubik Glitch";
  line-height: 100%;
  text-decoration: none;
  font-size: 24px;
  color: #f7f7f8;
  cursor: pointer;
  /*  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(225deg, #f7f7f8, #f7f7f8);
  filter: drop-shadow(0 5px 5px #f7f7f800); */
  font-weight: 500;
  transition: 0.3s;
  z-index: 3;
  &:hover {
    color: #5d09e4;
    transform: scale(0.9);
    transition: 0.3s;
    font-size: 24px;
    /*  transition: 0.3s;

    color: #0077ff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(225deg, #032eff, #28d8ff);
    filter: drop-shadow(0 5px 5px #5303ff); */
  }
}
.img_nav {
  width: 25px;
  object-fit: cover;
  transition: 0.3s;
  &:hover {
    transform: scale(0.8);
    cursor: pointer;
    transition: 0.3s;
  }
}
.link-zgy {
  position: absolute;
  left: 3%;
  text-align: center;
  transition: 0.3s;
}

.img-zgy {
  width: 55px;
  transition: 0.3s;
  object-fit: cover;
  &:hover {
    transform: scale(0.9);
    transition: 0.3s;
  }
}

.search-input {
  width: 100%;
  z-index: 3;
}
/* Small phones */
@media (max-width: 320px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
  }

  .navbar {
    position: fixed;
    height: 25px;
    min-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 0.4px solid #333333;
    background: rgba(111, 111, 111, 0.2);
    z-index: 100;
    transition: all 0.3s ease;
    padding: 0px 5px 0px 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 6px;
    align-items: center;
    padding: 0px 5px 0px 5px;
    font-weight: 400;
  }

  .link-header {
    display: none;
  }
  .active {
    padding: 5px 0px 5px 0px;
    color: #5303ff;
    border-radius: 9999px;
    /* background-color: #5303ff */
    transition: 0.3s;
    &:hover {
      color: #ffff;
      transition: 0.3s;
    }
  }
  .logo_header {
    font-family: "Rubik Glitch";
    line-height: 100%;
    text-decoration: none;
    font-size: 10px;
    color: #f7f7f8;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    z-index: 3;
    &:hover {
      color: #5d09e4;
      transform: scale(0.9);
      transition: 0.3s;
    }
  }
  .img_nav {
    width: 15px;
    object-fit: cover;
    transition: 0.3s;
    &:hover {
      transform: scale(0.8);
      cursor: pointer;
      transition: 0.3s;
    }
  }
  .link-zgy {
    position: absolute;
    left: 3%;
    text-align: center;
    transition: 0.3s;
  }

  .img-zgy {
    width: 25px;
    transition: 0.3s;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    width: 100%;
  }

  .navbar {
    position: fixed;
    height: 40px;
    min-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 0.4px solid #333333;
    background: rgba(111, 111, 111, 0.2);
    z-index: 100;
    transition: all 0.3s ease;
    padding: 0px 5px 0px 5px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;
    align-items: center;
    padding: 0px 5px 0px 5px;
    font-weight: 400;
  }

  .link-header {
    display: none;
  }
  .active {
    padding: 5px 0px 5px 0px;
    color: #5303ff;
    border-radius: 9999px;
    /* background-color: #5303ff */
    transition: 0.3s;
    &:hover {
      color: #ffff;
      transition: 0.3s;
    }
  }
  .logo_header {
    font-family: "Rubik Glitch";
    line-height: 100%;
    text-decoration: none;
    font-size: 16px;
    color: #f7f7f8;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    z-index: 3;
    &:hover {
      color: #5d09e4;
      transform: scale(0.9);
      transition: 0.3s;
    }
  }
  .img_nav {
    width: 20px;
    object-fit: cover;
    transition: 0.3s;
    &:hover {
      transform: scale(0.8);
      cursor: pointer;
      transition: 0.3s;
    }
  }
  .link-zgy {
    position: absolute;
    left: 3%;
    text-align: center;
    transition: 0.3s;
  }

  .img-zgy {
    width: 40px;
    transition: 0.3s;
    object-fit: cover;
  }
}
